---
layout: default
title: Terms
---

<div class="wrapper">
  <div class="container">
    <div id="gitlab-com">
      <h2 class="terms">GitLab.com Terms</h2>
      <p><a href="print/gitlab_com_terms.pdf">PDF Preview</a></p>
      {% include gitlab_com_terms.html %}
      {% include signature_block.html %}
    </div>

    <div id="subscription">
      <h2 class="terms">GitLab Subscription Terms</h2>
      <p><a href="print/gitlab_subscription_terms.pdf">PDF Preview</a></p>
      {% include subscription_terms.html %}
      {% include signature_block.html %}
    </div>

    <div id="consultancy">
      <h2 class="terms">GitLab Consultancy Terms</h2>
      <p><a href="print/gitlab_consultancy_terms.pdf">PDF Preview</a></p>
      {% include consultancy_terms.html %}
      {% include signature_block.html %}
    </div>
  </div>
</div>
